# general linux stuff
alias ls="ls --color=auto"
alias l="ls -la"
alias grep="grep --color=auto"
alias rm="rm -I"
alias cp="cp -r"
alias usermount="sudo mount -o uid=$(id -u $USER),gid=$(id -g $USER)"
alias diffy="diff -y --color=auto"
alias history="history 0"

# quick ones for the libreoffice packages
alias calc="libreoffice --calc"
alias writer="libreoffice --writer"
alias impress="libreoffice --calc"
alias draw="libreoffice --draw"

# conda
alias activate="conda activate"

# rstudio
alias rstudio=rstudio-daily-bin

# git aliases
alias ga="git add"
alias gc="git commit -m"

# matlab
alias tmatlab="$TERMINAL -e matlab"
alias mls="/usr/bin/matlab -nodesktop -nosplash"

# todo.txt aka toto.sh
alias t=/usr/bin/todo.sh

# wttr.in doesn't find my location
alias wetter="curl wttr.in/Hamburg"
