# general linux stuff
alias ls="ls --color=auto"
alias l="ls -la"
alias grep="grep --color=auto"
alias rm="rm -I"
alias cp="cp -r"
# mount hard drive for user
alias usermount="sudo mount -o uid=$(id -u $USER),gid=$(id -g $USER)"
alias diffy="diff -y --color=auto"
alias history="history 0"
alias df="df -h"

# quick ones for the libreoffice packages
alias calc="libreoffice --calc"
alias writer="libreoffice --writer"
alias impress="libreoffice --calc"
alias draw="libreoffice --draw"

# git aliases
alias ga="git add"
alias gc="git commit -m"

# matlab
alias mls="/usr/bin/matlab -nodesktop -nosplash"

# wttr.in doesn't find my location
alias wetter="curl wttr.in/Hamburg"

# bad matlab habit
alias clc=clear
#
# lol
alias please='sudo $(fc -ln -1)'

#conda alias
alias cap="conda activate pystan"
